@charset "UTF-8";
*{
  box-sizing:  border-box; 
}
  
.que:first-child{
    border-top: 1px solid black;
  }
  
.que{
  position: relative;
  padding: 17px 0;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 1px solid #dddddd;
  margin: 14px;
  background-color: var(--theme-bg-color);
}
  
.que::before{
  display: inline-block;
  font-size: 14px;
  color: black;
  margin-right: 5px;
  background-color: var(--theme-bg-color);
}

.que.on>span{
  font-weight: bold;
  color: black; 
}
  
.anw {
  display: none;
    overflow: hidden;
  font-size: 14px;
  padding: 27px 0;
  margin: 24px;
  background-color: var(--theme-bg-color);
}
  
.anw::before {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #666;
  margin-right: 5px;
  background-color: var(--theme-bg-color);
}